[user]
	name = CD
	email = chustinediannegamas45@gmail.com
[safe]
	directory = /storage/emulated/0/mygitrepo
	directory = /storage/emulated/0/G13_Gamas_ChustineDianne_Block_6
	directory = /storage/emulated/0/G13_Gamas_ChustineDianne_Block_6
